extends layout

block content
  .container
    .header
    .content
      #about
        h1 About
        h2 What?
        p.about_text 
          | 33words is a tool to quickly find the most important words regarding a personal 
          | topic. 
        h2 Why?
        p.about_text 
          | The idea for this little app was born while developing a vocabulary app. I was 
          | looking for new ways to find vocabulary that is highly relevant for the user. 
        h2 How?
        p.about_text  
          | 33words uses the users interests as starting point for finding words. Words related 
          | to a user in such way are very likely to be used a lot by the user, and therefore 
          | should be studied with high priority in all of the languages the user desires to 
          | speak. With the users interest we search third party applications like Wikipedia 
          | or the New York Times for articles related to the users interest. The user then
          | can select the most relevant of the sources found by 33words. After those sources 
          | were analyzed the user is presented with a list of the 33 words that occur most 
          | often in those sources, and therefor very likely relevant in the searched domain. 
        h2 Howto?
        p.about_text.spacer 
          | Say, you are into Tennis. When prompted for your interest, you would enter 'Tennis'. 
          | You would then be shown the sources we found regarding Tennis. Wisely select the sources 
          | that seem relevant for you. Especially for ambiguent words like 'development' it is 
          | important to only select those sources that cover the right meaning. After selecting
          | the sources, click on 'Find sources' and you will be presented with the thirty three
          | most important words for your interest. Write them down, figure out what they translate 
          | to in your favourite language or just skip through for fun.
        a.top_level_link(href='../') Main 
    .footer
