extends layout

block content
  .container
    .header
    .content
      h1 33words
      #start_button.btn.btn-default
        a(href='../search') START
      #about_link
        a(href='../about') About
    .footer
