extends layout

block content
  .container
    .header
    .content
      h1 33words
      #start_button
        a#start_link.nav_link(href='../search') Start
      a#about_link.top_level_link(href='../about') About
      
    .footer
