extends layout

block content
  .container
    .header
    .content
      h1 33words
      #start_button
        a#start_link.nav_link(href='../search') Start
      #about_link
        a(href='../about') About
    .footer
