extends layout

block content
  .container
    .content
      h1
        .hl_first 3
        .hl_second 3
        .hl_third words
      #start_button
        a#start_link.nav_link(href='../search') Start
      a#about_link.top_level_link(href='../about') About
