extends layout

include mixins/_searchForm
include mixins/_sourcesForm

block content
  .container
    .header
    .content
      p.text_label What are you interested in?
      +searchForm
      p#sources_label.text_label Click on the sources you want to use!
      +sourcesForm
      //- .links
      //-   a(href='../') Main |
      //-   a(href='../about') About
      a(href='../' id='search_link_back') Home 
    .footer
