extends layout

include mixins/_searchForm

block content
  .container
    .header
    .content
      p#label What are you interested in?
      +searchForm
      //- .links
      //-   a(href='../') Main |
      //-   a(href='../about') About
      a(href='../' id='search_link_back') Home 
    .footer
