extends layout

include mixins/_searchScreen
include mixins/_sourcesScreen
include mixins/_wordScreen

block content
  .container
    .content
      +searchScreen
      +sourcesScreen
      +wordScreen
