extends layout

include mixins/_firstScreen
include mixins/_secondScreen
include mixins/_thirdScreen

block content
  .container
    .content
      +firstScreen
      +secondScreen
      +thirdScreen
