extends layout

include mixins/_searchForm

block content
  .container
    .header
    .content
      +searchForm
      //- .links
      //-   a(href='../') Main |
      //-   a(href='../about') About
    .footer
