/* CSS RESET */

body {
padding: 0;
margin: 0;
font: 13px Arial, Helvetica, Garuda, sans-serif;
*font-size: small;
*font: x-small;
}
h1, h2, h3, h4, h5, h6, ul, li, em, strong, pre, code {
padding: 0;
margin: 0;
line-height: 1em;
font-size: 100%;
font-weight: normal;
font-style: normal;
}
table {
font-size: inherit;
font: 100%;
}
ul {
list-style: none;
}
img {
border: 0;
}
p {
margin: 1em 0;
}
a:link, a:visited, a:hover, a:active {
color: black !important;
text-decoration: underline !important;
}
input:focus {
outline-style: none;
}

/* LAYOUT */

.container {
  height: 100vh;
}

.header {
  display: block;
  height: 33%;
}

.content {
  padding-top: 5%;
  width: 90%;
  margin: 0 auto;
  display: table;
  vertical-align: middle;
  text-align: center;
  height: 33%;
  /*border: 1px solid black;*/
}

.footer {
  display: block;
  height: 33%;
}

/* START PAGE */

.content h1 {
  font-size: 10em;
}

#start_button {
  font-size: 3em;
  margin-bottom: 0.5em;
}

#about_link {
  font-size: 1em;
}

/* SEARCH */

#searchForm {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  /*border: 1px solid black;*/
}

#searchInput {
  font-size: 5em;
  text-align: center;

  border: none;
}

.text_label {
 font-size: 4em;
 color: lightgrey;
}

#search_link_back {
  font-size: 1em;
}

#sourcesForm {
  display: none;
}

#sources_label {
  margin-top: 1em;
  display: none;
}

#sources_list {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2em;

}

#sources_submit_button {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.3em;
}

/* TODO use either the div or the p then deselect / hover should work */
.sources_list_entry {
  color: darkgrey;
  font-weight: 300;
}

.sources_list_entry:hover {
  color: black;
  font-weight: 300;
}

.sources_list_entry .active {
  color: dimgray;
  font-weight: 400;

}
