mixin searchScreen()
  #search_screen
    p#search_label.text_label What are you interested in?
    form(action='#' id='search_form')
      input(type='text' name='searchTerm' id='search_input' autocomplete="off" autofocus)
    a(href='../' id='search_link_back') Back to start page 
