mixin secondScreen()
  #sources_screen
    p#sources_label.text_label Now select some sources!
    
      span.glyphicon.glyphicon-info-sign.hint(aria-hidden="true", data-toggle="modal", data-target="#sourcesHelpModal")
      #sourcesHelpModal.modal(tabindex="-1", role="dialog", aria-labelledby="sourcesModal")
        .modal-dialog.modal-lg(role="document")
          .modal-content
            .modal-header
              button.close(type="button", data-dismiss="modal", aria-label="Close") x
              h4.modal-title INFO
            .modal-body
              h3.modal-heading Sources, wtf ?!
              p.modal-text
                | Here, we present you a list of sources(articles) we found for your
                | search term. Click on the ones that seem to have relevant information,
                | and therefore uses relevant words regarding to your input. Usually it 
                | helps to use as many sources as possible, as long as they are relevant.
              h3.modal-heading How does it work?
              p.modal-text
                | Each source relates to a Wikipedia article with that title. For every source
                | you select we scan the respective article for words. We give scores 
                | to every occurring word, basically counting how often they occur.
                | In the end we show you the 33 words with the best score: 
            .modal-footer#modal-footer
              a.btn.btn-default(type="button" href="/about") About page
              button.btn.btn-default(type="button" data-dismiss="modal") Let's do this!
    form(action='#' id='sources_form')
    a(href='/search' id='search_link_back') New search
