mixin sourcesScreen()
  #sources_screen
    p#sources_label.text_label Now click on the sources you want to use!
    form(action='#' id='sources_form')
    a(href='../' id='search_link_back') Back to start page 
