/* CSS RESET */

body {
padding: 0;
margin: 0;
font: 13px Arial, Helvetica, Garuda, sans-serif;
*font-size: small;
*font: x-small;
}
h1, h2, h3, h4, h5, h6, ul, li, em, strong, pre, code {
padding: 0;
margin: 0;
line-height: 1em;
font-size: 100%;
font-weight: normal;
font-style: normal;
}
table {
font-size: inherit;
font: 100%;
}
ul {
list-style: none;
}
img {
border: 0;
}
p {
margin: 1em 0;
}
a:link, a:visited, a:hover, a:active {
color: black;
text-decoration: none;
}
input:focus {
outline-style: none;
}

/* FONTS */

@font-face {
    font-family: 'Multicolore';
    src: url('./fonts/multicolore/Multicolore.otf') format('opentype');
}

@font-face {
  font-family: 'Comfortaa-Regular';
  src: url('./fonts/comfortaa/Comfortaa-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa-Light';
  src: url('./fonts/comfortaa/Comfortaa-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa-Bold';
  src: url('./fonts/comfortaa/Comfortaa-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Alamain';
  src: url('./fonts/alamain/Alamain.ttf') format('truetype');
}

/* LAYOUT */

.container {
  height: 100vh;
}

.header {
  display: block;
  height: 15%;
}

.content {
  padding-top: 5%;
  width: 90%;
  margin: 0 auto;
  display: table;
  vertical-align: middle;
  text-align: center;
  height: 70%;
}

.center {
  display: table-cell;
  vertical-align: middle;
}

.footer {
  display: block;
  height: 15%;
}

/* SHARED */

.text_label {
  font-size: 4em;
  color: lightgrey;
  font-family: 'Comfortaa-Regular';
}

/* START PAGE */

.content h1 {
  font-size: 12em;
  font-family: 'Multicolore';
}

#start_button {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#start_link {
  font-family: 'Comfortaa-Regular';
  font-size: 2em;
  text-decoration: none;
  vertical-align: middle;
  padding-top: 0.15em;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px solid black;
  border-radius: 1em;
}

#start_link:hover {
  font-family: 'Comfortaa-Regular';
  font-size: 2em;
  text-decoration: none;
  color: white;
  background-color: black;
  vertical-align: middle;
  padding-top: 0.15em;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px solid black;
  border-radius: 1em;
}

#about_link {
  font-family: 'Comfortaa-Regular';
  font-size: 1em;
  text-decoration: none;
}

/* SEARCH PAGE*/

#search_form {
  margin: 0 auto;
  width: 100%;
}

#search_input {
  font-size: 8em;
  font-family: 'Comfortaa-Bold';
  text-align: center;
  border: none;
}

#search_link_back {
  font-family: 'Comfortaa-Regular';
  font-size: 1em;
}

/* SOURCE LIST */

#sources_form {
  display: none;
  padding-bottom: 1em;
}

#sources_label {
  margin-top: 1em;
  display: none;
}

#sources_list {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2em;
}

#sources_link {
  font-family: 'Comfortaa-Regular';
  font-size: 1.5em;
  background-color: white;
  text-decoration: none;
  vertical-align: middle;
  padding-top: 0.15em;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px solid black;
  border-radius: 1em;
}

#sources_link:hover {
  font-family: 'Comfortaa-Regular';
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  background-color: black;
  vertical-align: middle;
  padding-top: 0.15em;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px solid black;
  border-radius: 1em;
}

/*#sources_submit_button {

  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.3em;
}*/

/* TODO use either the div or the p then deselect / hover should work */
.sources_list_entry {
  padding-top: 0.5em;
  padding-bottom: 0.3em;

  color: darkgrey;
  font-size: 0.7em;
  font-family: 'Comfortaa-Light';
}

.sources_list_entry:hover {
  color: black;
}

.sources_list_entry .active {
  color: dimgray;
  font-family: 'Comfortaa-Regular'
}

/* WORDS LIST */

#words_list {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2em;
}

.words_list_entry {
  padding-top: 0.5em;
  padding-bottom: 0.3em;

  color: darkgrey;
  font-size: 0.7em;
  font-family: 'Comfortaa-Light';
}

#new_search_link {
  font-family: 'Comfortaa-Regular';
  font-size: 1.5em;
  background-color: white;
  text-decoration: none;
  vertical-align: middle;
  padding-top: 0.15em;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px solid black;
  border-radius: 1em;
  margin-bottom: 1em;
}

#new_search_link:hover {
  font-family: 'Comfortaa-Regular';
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  background-color: black;
  vertical-align: middle;
  padding-top: 0.15em;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px solid black;
  border-radius: 1em;
}
